# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Виртуальное окружение
.venv/

# Кадры
data/captured_frames/*
# Архивы
*.zip

# Модели PyTorch и YOLO (большие файлы)
*.pt
*.pt2
*.pth
*.onnx
*.weights

# VSCode
.vscode/*

# Логи
**.log

# Обучение YOLO
yolo-trainer/datasets/*
yolo-trainer/runs/* 

# Калибровка
Calibration/data/*

# K-ROSET
Robot/KROSET/ALKU/temporary/**/*.txt
DatasetGrabber/images/**/*
DatasetGrabber/imagesold/**/*
DatasetGrabber/images.tar.xz
DatasetGrabber.tar.xz
data/models/model_440.00.111.pt.old
data/models/model_440.00.026.pt.old
data/models/model_312.229.002.pt.old
data/models/model_312.229.001.pt.old
data/models/model_0401.28.02.063.pt.old
data/models/model_0401.17.02.023.pt_x

# CODESYS
PLC/*.opt